In [25]:
import pandas as pd
import numpy as np

In [26]:
test = pd.read_csv("./Data/productDownload_2020-10-23T151012/ACSST5Y2010.S1901_data_with_overlays_2020-10-23T150937.csv", skiprows=1)
test.head()

,id,Geographic Area Name,Households!!Estimate!!Total,Households!!Margin of Error!!Total,"Households!!Estimate!!Less than $10,000","Households!!Margin of Error!!Less than $10,000","Households!!Estimate!!$10,000 to $14,999","Households!!Margin of Error!!$10,000 to $14,999","Households!!Estimate!!$15,000 to $24,999","Households!!Margin of Error!!$15,000 to $24,999",...,Nonfamily households!!Estimate!!Median income (dollars),Nonfamily households!!Margin of Error!!Median income (dollars),Nonfamily households!!Estimate!!Mean income (dollars),Nonfamily households!!Margin of Error!!Mean income (dollars),Nonfamily households!!Estimate!!PERCENT IMPUTED!!Household income in the past 12 months,Nonfamily households!!Margin of Error!!PERCENT IMPUTED!!Household income in the past 12 months,Nonfamily households!!Estimate!!PERCENT IMPUTED!!Family income in the past 12 months,Nonfamily households!!Margin of Error!!PERCENT IMPUTED!!Family income in the past 12 months,Nonfamily households!!Estimate!!PERCENT IMPUTED!!Nonfamily income in the past 12 months,Nonfamily households!!Margin of Error!!PERCENT IMPUTED!!Nonfamily income in the past 12 months
0,1400000US22071000100,"Census Tract 1, Orleans Parish, Louisiana",1048,117,0.9,1.4,3.4,2.7,4.9,3.2,...,49554,15620,69171,16538,(X),(X),(X),(X),26.5,(X)
1,1400000US22071000200,"Census Tract 2, Orleans Parish, Louisiana",492,102,19.3,13.0,0.0,6.9,8.9,9.0,...,8981,16798,32588,23958,(X),(X),(X),(X),0.0,(X)
2,1400000US22071000300,"Census Tract 3, Orleans Parish, Louisiana",422,114,17.8,12.3,7.6,9.7,23.2,15.0,...,16523,13806,23658,9845,(X),(X),(X),(X),20.1,(X)
3,1400000US22071000400,"Census Tract 4, Orleans Parish, Louisiana",712,107,10.7,6.7,10.7,7.6,9.8,7.6,...,17000,6868,24501,8287,(X),(X),(X),(X),29.2,(X)
4,1400000US22071000601,"Census Tract 6.01, Orleans Parish, Louisiana",161,49,37.3,21.8,19.9,16.0,20.5,21.7,...,11389,3105,12272,3900,(X),(X),(X),(X),13.5,(X)

In [34]:
clean_df = test.rename(columns = {
    "id" : "Geo_ID",
    "Geographic Area Name" : "Census Tract",
    #households or families?
    "Households!!Estimate!!Total" : "Households",
    "Households!!Estimate!!Less than $10,000" : "Households less than $\$$10,000",
    "Households!!Estimate!!$10,000 to $14,999" : "Households $\$$10,000 to $\$$14,999",
    "Households!!Estimate!!$15,000 to $24,999" : "Households $\$$15,000 to $\$$24,999",
    "Households!!Estimate!!$25,000 to $34,999" : "Households $\$$25,000 to $\$$34,999",
    "Households!!Estimate!!$35,000 to $49,999" : "Households $\$$35,000 to $\$$49,999",
    "Households!!Estimate!!$50,000 to $74,999" : "Households $\$$50,000 to $\$$74,999",
    "Households!!Estimate!!$75,000 to $99,999" : "Households $\$$75,000 to $\$$99,999",
    "Households!!Estimate!!$100,000 to $149,999" : "Households $\$$100,000 to $\$$149,999",
    "Households!!Estimate!!$150,000 to $199,999" : "Households $\$$150,000 to $\$$199,999",
    "Households!!Estimate!!$200,000 or more" : "Households $\$$200,000 or more",
    "Households!!Estimate!!Median income (dollars)" : "Household median income (dollars)",
    "Households!!Estimate!!Mean income (dollars)" : "Household mean income (dollars)",
})

clean_df = clean_df[["Geo_ID", "Census Tract", "Households", "Households less than $\$$10,000", "Households $\$$10,000 to $\$$14,999",
                    "Households $\$$15,000 to $\$$24,999", "Households $\$$25,000 to $\$$34,999", "Households $\$$35,000 to $\$$49,999",
                    "Households $\$$50,000 to $\$$74,999", "Households $\$$75,000 to $\$$99,999", "Households $\$$100,000 to $\$$149,999",
                     "Households $\$$150,000 to $\$$199,999", "Households $\$$200,000 or more", "Household median income (dollars)",
                     "Household mean income (dollars)"]]
clean_df.replace(to_replace="-", value=np.nan, inplace=True)
clean_df.replace(to_replace="N", value=np.nan, inplace=True)
clean_df = clean_df.astype({
        "Households" : "int64",
        "Households less than $\$$10,000" :  "float64",
        "Households $\$$10,000 to $\$$14,999" : "float64",
        "Households $\$$15,000 to $\$$24,999" : "float64",
        "Households $\$$25,000 to $\$$34,999" : "float64",
        "Households $\$$35,000 to $\$$49,999" : "float64",
        "Households $\$$50,000 to $\$$74,999" : "float64",
        "Households $\$$75,000 to $\$$99,999" : "float64", 
        "Households $\$$100,000 to $\$$149,999" : "float64",
        "Households $\$$150,000 to $\$$199,999" : "float64", 
        "Households $\$$200,000 or more" : "float64",
        "Household median income (dollars)" : "float64",
        "Household mean income (dollars)" : "float64"
    })

clean_df["Census Tract"] = clean_df["Census Tract"].map(lambda x: x.lstrip('Census Tract').rstrip('Orleans Parish, Louisiana'))
clean_df["Year"] = 2010
clean_df.head()

,Geo_ID,Census Tract,Households,"Households less than $\$$10,000","Households $\$$10,000 to $\$$14,999","Households $\$$15,000 to $\$$24,999","Households $\$$25,000 to $\$$34,999","Households $\$$35,000 to $\$$49,999","Households $\$$50,000 to $\$$74,999","Households $\$$75,000 to $\$$99,999","Households $\$$100,000 to $\$$149,999","Households $\$$150,000 to $\$$199,999","Households $\$$200,000 or more",Household median income (dollars),Household mean income (dollars),Year
0,1400000US22071000100,1,1048,0.9,3.4,4.9,15.6,15.0,18.6,11.2,21.8,3.2,5.4,63750.0,82989.0,2010
1,1400000US22071000200,2,492,19.3,0.0,8.9,19.5,19.3,11.8,15.0,1.8,4.3,0.0,36019.0,45804.0,2010
2,1400000US22071000300,3,422,17.8,7.6,23.2,12.8,15.4,19.2,2.8,1.2,0.0,0.0,26154.0,31974.0,2010
3,1400000US22071000400,4,712,10.7,10.7,9.8,20.5,6.7,14.6,3.4,17.4,6.2,0.0,34464.0,55073.0,2010
4,1400000US22071000601,6.01,161,37.3,19.9,20.5,16.1,0.0,6.2,0.0,0.0,0.0,0.0,12946.0,17096.0,2010

In [35]:
all_clean_income_df = clean_df

for i in range(2011, 2019):
    year = str(i)
    fileName = "./Data/productDownload_2020-10-23T151012/ACSST5Y" + year + ".S1901_data_with_overlays_2020-10-23T150937.csv"
    df = pd.read_csv(fileName, skiprows=1)
    new_df = df.rename(columns = {
        "id" : "Geo_ID",
        "Geographic Area Name" : "Census Tract",
        #households or families?
        "Households!!Estimate!!Total" : "Households",
        #different starting in 2017
        "Estimate!!Households!!Total" : "Households",
        "Households!!Estimate!!Less than $10,000" : "Households less than $\$$10,000",
        "Estimate!!Households!!Total!!Less than $10,000" : "Households less than $\$$10,000",
        "Households!!Estimate!!$10,000 to $14,999" : "Households $\$$10,000 to $\$$14,999",
        "Estimate!!Households!!Total!!$10,000 to $14,999" : "Households $\$$10,000 to $\$$14,999",
        "Households!!Estimate!!$15,000 to $24,999" : "Households $\$$15,000 to $\$$24,999",
        "Estimate!!Households!!Total!!$15,000 to $24,999" : "Households $\$$15,000 to $\$$24,999",
        "Households!!Estimate!!$25,000 to $34,999" : "Households $\$$25,000 to $\$$34,999",
        "Estimate!!Households!!Total!!$25,000 to $34,999" : "Households $\$$25,000 to $\$$34,999",
        "Households!!Estimate!!$35,000 to $49,999" : "Households $\$$35,000 to $\$$49,999",
        "Estimate!!Households!!Total!!$35,000 to $49,999" : "Households $\$$35,000 to $\$$49,999",
        "Households!!Estimate!!$50,000 to $74,999" : "Households $\$$50,000 to $\$$74,999",
        "Estimate!!Households!!Total!!$50,000 to $74,999" : "Households $\$$50,000 to $\$$74,999",
        "Households!!Estimate!!$75,000 to $99,999" : "Households $\$$75,000 to $\$$99,999",
        "Estimate!!Households!!Total!!$75,000 to $99,999" : "Households $\$$75,000 to $\$$99,999",
        "Households!!Estimate!!$100,000 to $149,999" : "Households $\$$100,000 to $\$$149,999",
        "Estimate!!Households!!Total!!$100,000 to $149,999" : "Households $\$$100,000 to $\$$149,999",
        "Households!!Estimate!!$150,000 to $199,999" : "Households $\$$150,000 to $\$$199,999",
        "Estimate!!Households!!Total!!$150,000 to $199,999" : "Households $\$$150,000 to $\$$199,999",
        "Households!!Estimate!!$200,000 or more" : "Households $\$$200,000 or more",
        "Estimate!!Households!!Total!!$200,000 or more" : "Households $\$$200,000 or more",
        "Households!!Estimate!!Median income (dollars)" : "Household median income (dollars)",
        "Estimate!!Households!!Median income (dollars)" : "Household median income (dollars)",
        "Households!!Estimate!!Mean income (dollars)" : "Household mean income (dollars)",
        "Estimate!!Households!!Mean income (dollars)" : "Household mean income (dollars)",
    })

    new_df = new_df[["Geo_ID", "Census Tract", "Households", "Households less than $\$$10,000", "Households $\$$10,000 to $\$$14,999",
                    "Households $\$$15,000 to $\$$24,999", "Households $\$$25,000 to $\$$34,999", "Households $\$$35,000 to $\$$49,999",
                    "Households $\$$50,000 to $\$$74,999", "Households $\$$75,000 to $\$$99,999", "Households $\$$100,000 to $\$$149,999",
                     "Households $\$$150,000 to $\$$199,999", "Households $\$$200,000 or more", "Household median income (dollars)",
                     "Household mean income (dollars)"]]
    # replace "-" with np.nan
    new_df.replace(to_replace="-", value=np.nan, inplace=True)
    new_df.replace(to_replace="N", value=np.nan, inplace=True)
    new_df = new_df.astype({
        "Households" : "int64",
        "Households less than $\$$10,000" :  "float64",
        "Households $\$$10,000 to $\$$14,999" : "float64",
        "Households $\$$15,000 to $\$$24,999" : "float64",
        "Households $\$$25,000 to $\$$34,999" : "float64",
        "Households $\$$35,000 to $\$$49,999" : "float64",
        "Households $\$$50,000 to $\$$74,999" : "float64",
        "Households $\$$75,000 to $\$$99,999" : "float64", 
        "Households $\$$100,000 to $\$$149,999" : "float64",
        "Households $\$$150,000 to $\$$199,999" : "float64", 
        "Households $\$$200,000 or more" : "float64",
        "Household median income (dollars)" : "float64",
        "Household mean income (dollars)" : "float64"
    })
    new_df["Census Tract"] = new_df["Census Tract"].map(lambda x: x.lstrip('Census Tract').rstrip('Orleans Parish, Louisiana'))
    new_df["Year"] = i
    print(i)
    all_clean_income_df = pd.concat([all_clean_income_df, new_df], ignore_index=True)

2011
2012
2013
2014
2015
2016
2017
2018

In [36]:
all_clean_income_df.dtypes

Geo_ID                                    object
Census Tract                              object
Households                                 int64
Households less than $\$$10,000          float64
Households $\$$10,000 to $\$$14,999      float64
Households $\$$15,000 to $\$$24,999      float64
Households $\$$25,000 to $\$$34,999      float64
Households $\$$35,000 to $\$$49,999      float64
Households $\$$50,000 to $\$$74,999      float64
Households $\$$75,000 to $\$$99,999      float64
Households $\$$100,000 to $\$$149,999    float64
Households $\$$150,000 to $\$$199,999    float64
Households $\$$200,000 or more           float64
Household median income (dollars)        float64
Household mean income (dollars)          float64
Year                                       int64
dtype: object

In [37]:
all_clean_income_df[all_clean_income_df["Census Tract"] == "65"]

,Geo_ID,Census Tract,Households,"Households less than $\$$10,000","Households $\$$10,000 to $\$$14,999","Households $\$$15,000 to $\$$24,999","Households $\$$25,000 to $\$$34,999","Households $\$$35,000 to $\$$49,999","Households $\$$50,000 to $\$$74,999","Households $\$$75,000 to $\$$99,999","Households $\$$100,000 to $\$$149,999","Households $\$$150,000 to $\$$199,999","Households $\$$200,000 or more",Household median income (dollars),Household mean income (dollars),Year
106,1400000US22071006500,65,937,10.8,9.9,17.3,9.8,10.2,20.2,12.8,4.7,4.3,0.0,37440.0,48102.0,2010
283,1400000US22071006500,65,1092,19.2,9.9,8.4,10.9,11.8,16.4,9.7,9.1,4.6,0.0,36932.0,49805.0,2011
460,1400000US22071006500,65,1194,15.0,10.1,15.7,11.2,9.8,14.5,11.7,10.1,2.0,0.0,32226.0,46976.0,2012
637,1400000US22071006500,65,1226,14.9,9.8,14.5,11.0,13.0,17.5,9.5,8.5,1.4,0.0,34817.0,44878.0,2013
781,1400000US22071006500,65,1184,14.9,7.9,14.0,12.9,10.5,15.2,13.2,10.2,1.0,0.3,35256.0,48322.0,2014
940,1400000US22071006500,65,1218,13.6,5.9,13.7,12.3,13.0,15.4,15.3,9.6,1.1,0.2,37368.0,49714.0,2015
1179,1400000US22071006500,65,1199,6.8,7.9,15.8,11.7,14.9,15.8,12.8,12.1,1.1,1.1,40040.0,54719.0,2016
1292,1400000US22071006500,65,1215,9.2,7.3,14.1,11.5,16.0,11.4,14.8,11.2,3.2,1.2,39250.0,56894.0,2017
1522,1400000US22071006500,65,1228,8.0,4.7,15.0,11.6,11.2,12.0,15.5,14.1,6.1,1.9,49000.0,64585.0,2018

In [39]:
all_clean_income_df.to_csv("./Data/cleaned_income_data.csv")