In [3]:
import pandas as pd
import numpy as np
import folium as fl
import matplotlib.pyplot as plt
from pandas.io.json import json_normalize
import json

In [1]:
m = fl.Map(
    location = [29.9511, -90.0715],
    zoom_start = 10,
    tiles="Stamen Toner")

NameError: name 'fl' is not defined

In [ ]:
m

In [ ]:
fl.Choropleth(
    geo_data="./Data/tract.json").add_to(m)

In [ ]:
m

In [ ]:
df = pd.read_csv('./Data/all_data.csv')
df = df.loc[df["Year"] == 2018]

In [ ]:
df

In [ ]:
df = df.rename(columns={"Geo_ID_x" : "GEOID"})
df

In [ ]:
fl.Choropleth(
    geo_data="./Data/tract.json",
    data=df,
    columns=["GEOID", "Total Population"],
    key_on='feature.properties.GEOID'
    ).add_to(m)

In [ ]:
m

In [4]:
df = pd.read_csv('./Data/tract.csv')

In [5]:
df.head()

,Unnamed: 0,STATEFP,COUNTYFP,TRACTCE,AFFGEOID,GEOID,NAME,LSAD,ALAND,AWATER,geometry
0,0,22,71,1722,1400000US22071001722,22071001722,17.22,CT,2521142,0,"POLYGON ((-90.014005 30.020274, -90.0116649999..."
1,1,22,55,1902,1400000US22055001902,22055001902,19.02,CT,17033509,0,"POLYGON ((-92.142078 30.235271, -92.1251279999..."
2,2,22,51,27000,1400000US22051027000,22051027000,270.00,CT,2561727,0,"POLYGON ((-90.133399 29.894973, -90.1331859999..."
3,3,22,83,970600,1400000US22083970600,22083970600,9706.00,CT,476835017,3913456,"POLYGON ((-92.03446199999999 32.278739, -92.03..."
4,4,22,71,701,1400000US22071000701,22071000701,7.01,CT,1021801,130295,"POLYGON ((-90.027396 29.963836, -90.0218709999..."

In [18]:
df = pd.DataFrame(data)
df

,type,features,fileName
0,FeatureCollection,"{'type': 'Feature', 'geometry': {'bbox': [-90....",cb_2019_22_tract_500k
1,FeatureCollection,"{'type': 'Feature', 'geometry': {'bbox': [-92....",cb_2019_22_tract_500k
2,FeatureCollection,"{'type': 'Feature', 'geometry': {'bbox': [-90....",cb_2019_22_tract_500k
3,FeatureCollection,"{'type': 'Feature', 'geometry': {'bbox': [-92....",cb_2019_22_tract_500k
4,FeatureCollection,"{'type': 'Feature', 'geometry': {'bbox': [-90....",cb_2019_22_tract_500k
...,...,...,...
1135,FeatureCollection,"{'type': 'Feature', 'geometry': {'bbox': [-92....",cb_2019_22_tract_500k
1136,FeatureCollection,"{'type': 'Feature', 'geometry': {'bbox': [-90....",cb_2019_22_tract_500k
1137,FeatureCollection,"{'type': 'Feature', 'geometry': {'bbox': [-93....",cb_2019_22_tract_500k
1138,FeatureCollection,"{'type': 'Feature', 'geometry': {'bbox': [-91....",cb_2019_22_tract_500k
1139,FeatureCollection,"{'type': 'Feature', 'geometry': {'bbox': [-91....",cb_2019_22_tract_500k

In [20]:

test = df.loc[0]["features"].astype(str)

AttributeError: 'dict' object has no attribute 'astype'

In [15]:
df = pd.DataFrame(df.loc[0]["features"])
df.head()

,type,geometry,properties
bbox,Feature,"[-90.014005, 30.010848, -89.988866, 30.0239010...",NaN
type,Feature,Polygon,NaN
coordinates,Feature,"[[[-90.014005, 30.020273999999997], [-90.01166...",NaN
STATEFP,Feature,NaN,22
COUNTYFP,Feature,NaN,071